<html>
    <head>
        <title><%= title %></title>    
    </head>
    <body>
        <header><%- header %></header>
        <h2><%= title %></h2>
        <h2><a href="/www">www</a></h2>
        <h2><a href="/page">ecchi</a></h2>
        <strong width = "1280" style = "word-wrap: break-word;">This is a process which can crawling ecchi.iwara.tv. And it is used to service for someone that are forbidden to connect to the website. </strong>
        <% a.forEach(function(item){ %>
                        <li><%= item %></li>
        <% })%>
        <br/>
        <br/>
        <br/>
        <footer><%- footer %></footer>

        
    </body>
</html>