<!doctype html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  
        <title>标签 <%= tag %> - 第<%= page %>页 - <%=siteType%></title>
        <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
        <% try{if ( debug ){ %>
        <script>alert('debugging')</script>
        <% }}catch(e){} %>
        <% var localEnvVersion;try{ if ( envVersion )localEnvVersion = envVersion;}catch(e){}  %>
        <% if(localEnvVersion == 2){ %>
        <script>
        console.log('envVersion:',2);
        let url2 = '/api/tag/<%= siteType %>/<%= tag %>?page=<%= page %>';
        //alert(url2);
        $.getJSON(url2, function(data) {
                console.log(data);
                if(data.data.length == 0){
                    alert("获取标签数据失败");
                    return 0;
                }
                let videos = '';
                for(i = 0 ; i < data.data.length; i++){
                    if(i + 1 == data.data.length ){
                        videos = videos + data.data[i].member;
                    }
                    else{
                        videos = videos + data.data[i].member + ',';
                    }
                }
                
                let url3 = '/api/video/<%= siteType %>/list.json?videos='+videos
                $.getJSON(url3, function(data2){
                    console.log(data2);
                    for ( q = 0; q < data2.data.length ; q++ ){
                        $('div.cnode').append('<div class="node mdui-col"><a href="/<%=siteType%>/video/'+data2.data[q].id+'"><img src="https://redirect.wobbay.xyz/https:'+data2.data[q].thumb+'"  width="220" height="150" /></a><br/><a href="/<%=siteType%>/video/'+data2.data[q].id+'">'+data2.data[q].title+'</a></div>')
                    }
                    
                })
		});
        
        </script>
        <% } %>
    </head>
    <body class="mdui-theme-layout-dark">
        <header><%- include("../config/header.html") %></header>
        <div class="main mdui-container mdui-center below-the-fold">
            <div><p class="title">标签 <%= tag %> - 第<%= page %>页 - <%=siteType%></p></div>
            
            <h2>本网站仅供交流学习<br/></h2>
            <div class="cnode mdui-row-xs-2">

                

            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="mdui-col-xs-12">
                <% if(page != 1){ %>
                    <a href="/tag/<%=siteType%>/<%=tag%>?page=<%= Number(page)-1 %>">
                        上一页
                    </a>
                <% } %>
                
                <a href="/tag/<%=siteType%>/<%=tag%>?page=<%= Number(page) %>">
                    第<%= page %>页
                </a>
                
                <a href="/tag/<%=siteType%>/<%=tag%>?page=<%= Number(page)+1 %>">
                    下一页
                </a>
                
                
            </div>
            <br/>
            <br/>
            <br/>
        </div>
        <footer><%- include("../config/footer.html") %></footer>
        
        
    </body>
    <style>
    a:link{   
        color:red;
        
    }
    a:visited{ 
        color:orange;  
    }
    a:hover{ 
        color:green;
    }
    a:active{
        color:black;
    }
    .image{
        width: 400px;
    }
    .sort{
        font-size:54px;
    }
    .page{
    width: 50%;
    word-wrap:break-word;
    border-bottom: 0;
    font-size: 1.1em;
    line-height: 0.9em;
    letter-spacing: 0px;
    margin-top: 7.5px;
    word-wrap: break-word;
    }
    .title {
    width: 50%;
    word-wrap:break-word;
    border-bottom: 0;
    font-size: 72px;
    line-height: 0.9em;
    letter-spacing: 0px;
    margin-top: 7.5px;
    word-wrap: break-word;
    }
    .zoomImage{
    width:100%;
    height:0;
    padding-bottom: 75%;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    }
    </style>
</html>